# ==================================
# BASE DE DATOS
# ==================================
DATABASE_MASTER_URL="postgresql://USER:PASSWORD@HOST:PORT/contagracia_master?schema=public"

# ==================================
# JWT & SEGURIDAD
# ==================================
# IMPORTANTE: Debe ser el mismo JWT_SECRET que auth-service
JWT_SECRET="your-super-secret-key-change-in-production-256-bits-minimum"

# ==================================
# SERVIDOR
# ==================================
PORT=3010
NODE_ENV="development"
